.THIS .startModal1{
    background-color:white;
    border-radius: 0.25rem;
    height:100%;
}
.THIS .modal1Header{
    background-color:#FFFFFF;
    position: relative;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom: 2px solid #dddbda;
    padding: 1rem;
    text-align: center; 
}
.THIS .modal1Body{
    height:22rem;
}
.THIS .modal1InnerBody{
    padding:1rem;
    height: 100%;
}
.THIS .modal1Footer{
    background-color:white;
    position: relative;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top: 2px solid #dddbda;
    padding:1rem;
    padding-bottom:1.5rem;
}
.THIS .modal1FooterInner{
    display:inline-block;
    float:right;
}